.navbar {
    background-color: #298a08;
}

.quemsomos {
    background-color: burlywood;
}

.margin{
    padding-top: 30px;
    padding-bottom: 50px;
}

.parceiros{
    background-color: cyan;
}

.bg-footer{
    background-color: black ;
    color: white;
}